<div class="row">
    <h1>Hard skills</h1>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        
        <circle-progress
        [percent]="50"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"
        
        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/git.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"

        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/html.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"

        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/CSS.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    <div class="text-center col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="30"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"

        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/js.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    <h1>Soft skills</h1>
    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <circle-progress
        [percent]="60"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"

        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/eng.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    <div class="text-center col-xs-6 col-sm-6 col-md-6 col-lg-6">
        <circle-progress
        [percent]="70"
        [radius]="70"
        [outerStrokeWidth]="16"
        [innerStrokeWidth]="8"
        [outerStrokeColor]="'#78C000'"
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="300"

        [showBackground]="true"
        [backgroundColor]="'white'"

        [showImage]="true"
        [imageSrc]="'../../../assets/skills/grupal.png'"
        [imageWidth]="60"
        [imageHeight]="60"
></circle-progress>
    </div>
    
</div>
