<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2" >
       <div id="foto"><app-foto-perfil></app-foto-perfil></div>
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <app-acercade></app-acercade>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
       <div> 
           <h1>Acerca de mi</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus deserunt debitis repellat eaque laudantium temporibus, incidunt vel dolore asperiores porro praesentium unde excepturi quia dolores aspernatur, quasi amet. Aspernatur, ad.</p>
       </div>
    </div>
    
</div>