<div class="container" *ngIf="fotoP">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="fotoP">URL de la foto</label>
                    <input type="text" class="form-control" id="fotoP" name="fotoP"[(ngModel)]="fotoP.fotoP">
                </div>
                            
                <button class="btn btn-primary">Modificar datos</button>
            </form>
        </div>
    </div>
</div>