.container{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-color: black;
}
img{
    width: 200px;
    height: auto;
    border-radius: 1000px;
    top:50%;
    left:50%;
    
      
}

.btn{
    position:absolute;
    height: auto;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    text-align: center;
   }