.row{
    padding: 20px;
    width: auto;
   
}

div{
    background-color: rgb(44, 92, 102);
    color: antiquewhite;
    text-align: center;
    box-sizing: border-box;
}

img{
    width: 70%;
    height: auto;
    border-radius: 1000px;
    
}