<div class="row">
    <h1>Proyectos realizados</h1>
    <div class="container-fluid">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Portfolio Web</h2>
            <p>Este ha sido mi primer proyecto de desarrollo web. Se ha realizado en base a las pautas dadas por el equipo de Argentina Programa utilizando para su desarrollo en el framework Angular. La base de datos esta hosteada en Cleaver Cloud, el frontend en Firebase y el backend en Heroku.</p>
        </div>

        
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1
        offset-lg-1 parte2">
          <img src="../../../assets/portfolio.png" class="img-fluid img-proyecto">
            
        </div>

        
      
    </div>
    
    <div class="container-fluid">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proyecto de ejemplo</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam quia in exercitationem excepturi possimus laborum ratione, quos ullam fugit quis rem? Voluptate a blanditiis reprehenderit temporibus culpa perferendis itaque est.</p>
        </div>
        
        <div class="col-sm-12 col-md-4 col-lg-4 offset-md-1
        offset-lg-1 parte2">
           <img src="../../../assets/preview.png" class="img-fluid text-center img-proyecto">
           
        </div>

        
      
    </div>
    
</div>