<div class="row">
    <h1>Educacion</h1>
    <div class="col-lg-2">
        <button type="button" class="btn btn-warning" routerLink="/nuevaedu" *ngIf="isLogged">
            Nueva Educacion
        </button>
    </div>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <div class="table-responsive">
        <table class="table table-borderless">
            <tbody>
                <tr *ngFor="let Educacion of educ">
                    <td><img src="{{Educacion.logoEdu}}" alt=""></td>
                    <td><h2>{{Educacion.nombreEdu}}</h2></td>
                    <td>{{Educacion.descripcionEdu}}</td>
                    <td *ngIf="isLogged"><button class="btn btn-light" routerLink="/editedu/{{Educacion.id}}">Editar<i class="bi bi-pen"></i></button></td>
                    <td *ngIf="isLogged"><button class="btn btn-light" (click)="delete(Educacion.id)">Borrar<i class="bi bi-trash"></i></button></td>
                </tr>
            </tbody>

        </table>
    </div>
    
    </div>
</div>