.row{
    padding: 20px;
   
    width: 100%;
    margin: 0;
    
    height: 100%;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
    border-color: black;
}

div{
    background-color: rgb(66, 65, 134);
    color: white;
}

h1,h3{
    display: inline;
}

img{
    width: 100px;
}