div{
    background-color: rgba(13, 12, 53, 0.952);
    
    
  
    
}

#linea{
    border-top: 2px white;
    height: 2px;
    padding: 0;
    background-color: rgb(228, 67, 102);
    
}

app-social{
    float: right;
    margin-top: 22px;
}