<div class="row-flush" *ngFor="let Banner of banner" >
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
    <div class="container-flush" >
        
        <img src="{{Banner.imagenB}}" class="banner">
        <div *ngIf="isLogged"><button class="btn btn-light" routerLink="/editbanner/{{Banner.id}}">Editar<i class="bi bi-pen"></i></button>
        </div>
    
        <div class="intro">
            <span>
            <h1>{{Banner.saludoB}}</h1>
           
            </span>
            
        </div>
    </div>
</div>
</div>
