<div class="container" *ngIf="banner">
    <div class="row">
        <div>
            <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                <div class="form-group">
                    <label for="saludoB">Saludo</label>
                    <input type="text" class="form-control" id="saludoB" name="saludoB"[(ngModel)]="banner.saludoB" required>
                </div>
                <div class="form-group">
                    <label for="imagenB">URL de la imagen</label>
                    <input type="text" class="form-control" id="imagenB" name="imagenB" [(ngModel)]="banner.imagenB" required>
                </div>
                
                <button class="btn btn-primary">Modificar datos</button>
            </form>
        </div>
    </div>
</div>