
    <nav class="navbar navbar-expand-md navbar-dark">
        <div class="container-fluid">
        <a class="navbar-brand"><img src="../../../assets/APLogo.png"  ></a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav ms-auto mb-0 mb-md-0">
            
            <li class="nav-item" id="boton">
              <button type="button" class="btn btn-outline-light boton text-center" (click)="login()">Log In</button>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#"><img src="../../../assets/github.png"></a>
            </li>

            <li class="nav-item">
                <a class="nav-link active"  href="#"><img src="../../../assets/twitter.png"></a>
            </li>
            
            <li class="nav-item">
               <a class="nav-link active"  href="#"><img src="../../../assets/facebook.png"></a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" href="#"><img src="../../../assets/instagram.png"></a>
            </li>
          
        </ul>
        </div>
        </div>
    </nav>
